@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

html {
    box-sizing: border-box;
}

@keyframes rainbow {
    0%   {background-color: rgb(0, 0, 0);}
    12%   {background-color: rgb(5, 5, 5);}
    25%  {background-color: rgb(10, 10, 10);}
    50%  {background-color: rgb(20, 20, 20);}
    75%  {background-color: rgb(30, 30, 30);}
    100% {background-color: rgb(40, 40, 40);}
  }

body {
    margin: 0;
    font-family: 'Rye', sans-serif;
    font-size: 12px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
}

.background img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 50%;
    min-height: 50%;
    filter: blur(15px);
    -webkit-filter: blur(50px);
    transform: scale(1.1);
}

.container {
    position: relative; /* Ajoutez cette ligne */
    background-color: #000000;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgb(255, 255, 255);
    transition: all 0.5s ease;
}

.container:hover {
    box-shadow: 0 15px 30px rgba(255, 255, 255, 0.6);
}

.player-img {
    width: 300px;
    height: 300px;
    position: relative; /* Pour PC */
    top: -50px; /* Ajustez si nécessaire */
    left: 50px; /* Ajustez si nécessaire */
}

.player-img img {
    object-fit: cover;
    border-radius: 20px;
    height: 0;
    width: 0;
    opacity: 0;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.player-img:hover img {
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
}

.player-img img.active {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 1;
}

h2 {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0;
    color: #ffffffa9 ;
}

h3 {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0;
    color: #ffffff;
}

.player-progress {
    background-color: #ffffff6d;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px 35px;
    height: 6px;
    width: 90%;
}

.progress {
    background-color: #ffffff;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.music-duration {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
    color: #d0f8fc67;
}

.player-controls {
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
}

.fa-solid {
    font-size: 30px;
    color: #666;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.fa-solid:hover {
    filter: brightness(40%);
}

.play-button {
    font-size: 44px;
    position: relative;
    top: 3px;
}

/* Media query pour appareils mobiles */
@media (max-width: 768px) {

    .container {
        position: relative; /* Ajoutez cette ligne */
        background-color: #000000;
        height: 200px;
        width: 400px;
        border-radius: 20px 20px 0 0 ;
        box-shadow: 0 15px 30px rgb(255, 255, 255);
        transition: all 0.5s ease;
    }

    .player-img {
        width: 150px;
        height: 150px;
        position: relative; /* Pour PC */
        top: -50px; /* Ajustez si nécessaire */
        left: 50px; /* Ajustez si nécessaire */
    }

    .player-img img {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 70px;
    left: -45px;
    background: url("assets/1.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    animation: rotate 10s linear 0s infinite forwards;
    }

    .container .circle{
        position: absolute;
        width: 30px;
        height: 30px;
        left: 17%;
        top: 41.5%;
        background-color: #000000;
        z-index: 1;
        border-radius: 50%;
        border: 3px solid #ffffff;
    }

    @keyframes rotate {
        0% {
            transform: rotateZ(0deg);
        }
        100% {
            transform: rotateZ(360deg);
        }
    }

    h2 {
        font-size: 25px;
        text-align: center;
        font-weight: 500;
        margin: 10px 0 0;
        color: #ffffffa9 ;
        padding-left: 150px;

        position: absolute; /* Positionnement absolu */
            top: 10px; /* Distance du haut */
            left: 5px; /* Distance de la gauche */
    }
    
    h3 {
        font-size: 15px;
        text-align: center;
        font-weight: 500;
        margin: 10px 0 0;
        color: #ffffffa9 ;
        padding-left: 150px;

        position: absolute; /* Positionnement absolu */
            top: 120px; /* Distance du haut */
            left: 20px; /* Distance de la gauche */
    }
    .block {
        /*talle est position*/
        width: 400px;
        height: 60px;
        position: absolute;
        /*position du crade */
        top: 200px;
        left: -0px;
        /*radius*/
        border-radius: 0 0 20px 20px;
        /*couleur*/
        color: #ffffff;
        background-color: rgb(0, 0, 0);
    }

    .player-controls {
        /*play post*/
        top: -25px;
        left: 125px;
    }
}
